body{
    background: url();
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
}

img{
        background: transparent;
        display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}