{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% block content %}

<div class="jumbotron">
  <h1>IMPRESS US!</h1>
  <h1>Pitches</h1>
</div>

<hr>
<p>In life, you only have 60 seconds to impress someone. 1 minute can make or break you. Here is your chance to shine so sign up and post your pitch and let others see</p>


<div class="container">
   <div class="row">
     <p>View others pitches</p>
       <div class="col-md-4">
           <div class="well well-lg">
               <h3>Biography Pitches</h3>
               
               <a href="{{url_for('main.biograpghy')}}" class="btn btn-primary -center">View</a>
           </div>
       </div>
       <div class="col-md-4">
        <div class="well well-lg">
            <h3>Ideas Pitches</h3>
            
            <a href="{{url_for('main.idea')}}" class="btn btn-primary -center">View</a>
        </div>
    </div>
  
       <div class="col-md-4">
           <div class="well well-lg">
               <h3>Inspiration Pitches</h3>
              
               <a href="{{url_for('main.inspiration')}}" class="btn btn-primary -center">View</a>
           </div>
       </div>
   </div>
</div>
 
  {% endblock %}