
<!-- Displaying reviews macro -->
{% macro displayPitches(pitches_list) %}

    {% for pitch in pitches_list %}
    <br>
      <div class="thumbnail">
          <p>{{pitch.pitch}}</p>
          <p>{{pitch.category}}</p>
          <br>
          <a href="{{url_for('main.new_comment',id=pitch.id)}}">Comment on Pitch:</a>&nbsp;&nbsp;|
          <a href="{{url_for('main.view_comments',id=pitch.id)}}">Other Comments</a>&nbsp;&nbsp;|
      </div>
    {% endfor %}

{% endmacro %}

{% macro displayPitches(pitches_list)%}
{%for pitch in pitches_list%}
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
   <div class="well well-lg">
       <h4>{{pitch.pitch_title}}</h4>
       <p>{{pitch.pitch_content| truncate(100)}}</p>
       <p>Written by: {{pitch.user.username}} <a href="/pitch/{{pitch.id}}"
               class="btn btn-primary pull-right">Read&raquo;</a>
       </p>
   </div>
</div>
{%endfor%}
{%endmacro%}