
{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}
<div class="container">
  <div class="jumbotron">
    <p class="product">Product Pitches :</p>
    <br>
    <br>
    <a href="{{url_for('main.new_pitch')}}" class="write">Write a new pitch</a>
    <br>
    <br>

        {{macro.displayPitchesInCategories(pitchs,Product Pitch)}}
        
  </div>
</div>


<style>
    @import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

    .product{
      font-size: 25px;
      font-family: 'Nunito Sans', sans-serif !important;
      color: black;
    }

    .write{
      font-size: 16.5px;
      font-family: 'Nunito Sans', sans-serif !important;
    }
  </style>


{% endblock %}
